.App {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: bolder;
  color: white;
  text-shadow: 1px 1px black;
  letter-spacing: 1.7px;
}

body {
  background: linear-gradient(180deg, #C89FEB 0%, #5D69BE 100%);
  width: 100vw;
  height: 100vh;
}

h1 {
  font-size: 36px;
  letter-spacing: 3px;
}

.input-box{
  font-size:14px;
}